<!-- add scripts ... -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script defer>
    AOS.init();
</script>

<script src="https://cdn.jsdelivr.net/gh/kkn1125/penli@52b4a23/docs/assets/js/penli.js" async defer></script>

<script src="https://cdn.jsdelivr.net/gh/kkn1125/typer@update-v020/typer.js"
    integrity="sha384-s62GQWchBcBh82YhldUNQK9Cqw6iFB+eBau07ihjICofE7TLkSimbCI4+djd4soo" crossorigin="anonymous" async>
</script>

<script src="assets/js/theme.js" async defer></script>
<script src="assets/js/scrollViewer.js" async defer></script>
<script src="assets/js/selectView.js" async defer></script>