<!-- nav -->
<nav class="gnb position-sticky bg-light us-none gnb-primary">
    <div class="gnb-inner gnb-expand-md hide align-items-center">
        <div class="brand fw-bold">
            <a href="{{site.baseurl}}/">
                <span class="w-inline-block" style="background-image: url({{site.baseurl}}/{{site.logo}}); background-repeat: no-repeat; background-size: cover; width: 40px; height: 40px; top: 10px;position: relative"></span> LessMore
            </a>
        </div>
        <ul class="gnb-menu gx-2 w-flex justify-content-end" style="flex: 1 1 0%; width: auto; column-gap: 1rem;">
            <li>
                <button class="btn btn-gray px-2 me-2" data-target="#rsb">
                    <i class="fas fa-bars fs-3"></i>
                </button>
            </li>
        </ul>
    </div>
</nav>