<aside id="rsb" style="width: 45%" class="side-bar built-in hide bg-primary" data-side-bar="right">
    <div class="p-5 border flex-basis-100 text-white">
        <div class="position-static position-sticky-sm" style="top: 111.375px;">
            <div class="w-flex justify-content-between align-items-center mb-5">
                <span class="menu-title text-uppercase">Menu</span>
                <span><button class="w-sm-none w-inline-block custom-btn" id="delBtn">&times;</button></span>
            </div>
            <ul class="list-group">
                <li class="list-item">
                    <a href="blog">Blog</a>
                </li>
                <li class="list-item">
                    <a href="about">About</a>
                </li>
                <li class="list-item">
                    <!-- darkmode -->
                    <div class="mx-lg-3">
                        <input type="checkbox" data-switch="mode">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</aside>