<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- favicon -->
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{site.baseurl}}/{{site.favicon}}/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/{{site.favicon}}/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/{{site.favicon}}/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/{{site.favicon}}/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/{{site.favicon}}/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/{{site.favicon}}/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/{{site.favicon}}/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/{{site.favicon}}/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/{{site.favicon}}/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/{{site.favicon}}/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"
            href="{{site.baseurl}}/{{site.favicon}}/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/{{site.favicon}}/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="{{site.baseurl}}/{{site.favicon}}/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/{{site.favicon}}/favicon-16x16.png">

        <link rel="manifest" href="{{site.baseurl}}/{{site.favicon}}/manifest.json">

        <!-- preload -->
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap" as="style">
        <link rel="preload" href="https://unpkg.com/aos@next/dist/aos.css" as="style">

        <link rel="preload" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" as="style">
        
        <link rel="preload" href="https://cdn.jsdelivr.net/gh/kkn1125/penli@d905936/docs/assets/css/penli.css" as="style">
        <link rel="preload" href="https://cdn.jsdelivr.net/gh/kkn1125/penli@d905936/docs/assets/css/penli.theme.css" as="style">

        <link rel="preload" href="https://cdn.jsdelivr.net/gh/kkn1125/typer@update-v020/typer.css" integrity="sha384-WlGS/BGsTdvbKjfrZ9IJE45xkq8xElk1ASfEwycwMlwu0DO+shSOgBF/odcC4afX" crossorigin="anonymous" as="style">
        <link rel="preload" href="{{site.baseurl}}/assets/css/syntax.css" as="style">
        <link rel="preload" href="{{site.baseurl}}/assets/css/theme.css" as="style">

        <link rel="preload" href="https://cdn.jsdelivr.net/gh/kkn1125/typer@update-v020/typer.js"
        integrity="sha384-s62GQWchBcBh82YhldUNQK9Cqw6iFB+eBau07ihjICofE7TLkSimbCI4+djd4soo" crossorigin="anonymous" as="script">
        <link rel="preload" href="https://unpkg.com/aos@next/dist/aos.js" as="script">
        <link rel="preload" href="{{site.baseurl}}/assets/js/darkMode.js" as="script">
        <link rel="preload" href="{{site.baseurl}}/assets/js/theme.js" as="script">
        <link rel="preload" href="{{site.baseurl}}/assets/js/scrollViewer.js" as="script">
        <link rel="preload" href="{{site.baseurl}}/assets/js/selectView.js" as="script">
        <link rel="preload" href="https://cdn.jsdelivr.net/gh/kkn1125/penli@d905936/docs/assets/js/penli.js" as="script">

        <link rel="preload" href="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
        crossorigin="anonymous" as="script">

        <title>{{site.title}}</title>

        {% seo %}

        <!-- add custom css ... -->
        {% include addHead.html %}
    </head>

    <body>
        <script>
            const mode = JSON.parse(sessionStorage['mode']);
            if(mode){
                if(mode.dark=='on'){
                    document.body.classList.add('dark');
                } else {
                    document.body.classList.remove('dark');
                }
            }
        </script>
        <script src="{{site.baseurl}}/assets/js/darkMode.js"></script>

        {% include nav.html %}

        <!-- Search Results -->
        <div id="lunrsearchresults">
            <ul class="mb-0"></ul>
        </div>

        <div class="main">

            <main>

                <!-- main post -->
                <div class="">
                {{ content }}
                {% if page.url == '/' %}
                <div class="my-5 py-5" id="divider"></div>
                {% endif %}
                </div>
                
            </main>

        </div>

        {% include sideBar.html %}
        {% include footer.html %}
        
        {% include addScript.html %}
    </body>

</html>